checkXSD.XSD

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="row">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="c1" type="xs:unsignedInt" />
        <xs:element name="c2" type="xs:unsignedShort" />
        <xs:element name="c3" type="xs:string" />
        <xs:element name="c4" type="xs:string" />
        <xs:element name="c5" type="xs:string" />
        <xs:element name="c6" type="xs:string" />
        <xs:element name="c7" type="xs:string" />
        <xs:element name="c8" type="xs:string" />
        <xs:element name="c9" type="xs:unsignedByte" />
        <xs:element name="c10" type="xs:decimal" />
        <xs:element name="c11" type="xs:unsignedByte" />
        <xs:element name="c12" type="xs:unsignedByte" />
        <xs:element name="c13" type="xs:unsignedByte" />
        <xs:element name="c23" type="xs:unsignedByte" />
        <xs:element name="c24" type="xs:unsignedByte" />
        <xs:element name="c25" type="xs:unsignedByte" />
        <xs:element name="c26" type="xs:unsignedByte" />
        <xs:element name="c27" type="xs:unsignedByte" />
        <xs:element name="c28" type="xs:unsignedInt" />
        <xs:element name="c29" type="xs:decimal" />
        <xs:element name="c30" type="xs:unsignedShort" />
        <xs:element name="c31" type="xs:unsignedInt" />
        <xs:element name="c32" type="xs:decimal" />
        <xs:element name="c33" type="xs:unsignedShort" />
        <xs:element name="c34" type="xs:unsignedInt" />
        <xs:element name="c35" type="xs:decimal" />
        <xs:element name="c36" type="xs:unsignedShort" />
        <xs:element name="c37" type="xs:unsignedInt" />
        <xs:element name="c38" type="xs:decimal" />
        <xs:element name="c39" type="xs:unsignedShort" />
        <xs:element name="c40" type="xs:unsignedInt" />
        <xs:element name="c41" type="xs:byte" />
        <xs:element name="c42" type="xs:unsignedShort" />
        <xs:element name="c43" type="xs:unsignedInt" />
        <xs:element name="c44" type="xs:decimal" />
        <xs:element name="c45" type="xs:unsignedShort" />
        <xs:element name="c46" type="xs:unsignedInt" />
        <xs:element name="c76" type="xs:string" />
        <xs:element name="c78" type="xs:unsignedInt" />
        <xs:element name="c85" type="xs:unsignedShort" />
        <xs:element name="c89" type="xs:string" />
        <xs:element name="c93" type="xs:string" />
        <xs:element name="c94" type="xs:unsignedByte" />
        <xs:element name="c95" type="xs:string" />
        <xs:element name="c96" type="xs:unsignedByte" />
        <xs:element maxOccurs="unbounded" name="c99">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="m" type="xs:unsignedByte" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="c100">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="m" type="xs:unsignedByte" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="c108" type="xs:string" />
        <xs:element name="c115" type="xs:string" />
        <xs:element name="c116" type="xs:string" />
        <xs:element name="c141" type="xs:string" />
        <xs:element name="c142" type="xs:string" />
        <xs:element name="c157" type="xs:string" />
        <xs:element name="c158" type="xs:string" />
        <xs:element name="c167" type="xs:unsignedInt" />
        <xs:element name="c181" type="xs:string" />
        <xs:element name="c182" type="xs:unsignedInt" />
        <xs:element name="c214" type="xs:unsignedByte" />
        <xs:element maxOccurs="unbounded" name="c215">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="m" type="xs:unsignedByte" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="c216" type="xs:unsignedInt" />
        <xs:element name="c217" type="xs:string" />
        <xs:element name="c218" type="xs:string" />
        <xs:element name="c219" type="xs:unsignedByte" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>